.form-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 3rem;
}

h1{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
}

form {
    width: 50%;
    min-width: 30rem;
}

.form-control, .form-select {
    border: none;
    border-bottom: 0.1rem solid var(--text-clr);
    border-radius: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-bottom: 0.1rem solid var(--text-clr);
}

.form-floating label {
    color: var(--na-text);
}

.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control:focus ~ label {
    color: var(--text-clr);
}

.form-floating > .form-control,
.form-floating > label {
    background-color: transparent;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.custom-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--text-clr);
    padding: 0.4rem 0.5rem;
    background-color: transparent;
    color: var(--text-clr);
    font-size: 1rem;
}

.custom-select-header.active {
    color: var(--bg-clr);
    border-bottom-color: var(--bg-clr);
}

.custom-select-header .arrow {
    font-size: 1rem;
}

.custom-select-wrapper input,
.custom-calendar-wrapper input {
    border: none;
    border-bottom: 0.1rem solid var(--text-clr);
    background: transparent;
    width: 100%;
    padding: 0.4rem 0;
    cursor: pointer;
}

.form-floating label {
    color: var(--na-text);
}
.custom-select-wrapper input:not(:placeholder-shown) ~ label,
.custom-calendar-wrapper input:not(:placeholder-shown) ~ label {
    color: var(--text-clr);
}

.select-arrow, .calendar-arrow {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    pointer-events: none;
}

.opened .select-arrow { 
    transform: translateY(-50%) rotate(180deg); 
    filter: brightness(0) invert(1);
}
.custom-select-dropdown .dropdown-header span {
    color: var(--bg-clr);
    font-size: 1.2rem;
}

.custom-calendar .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--bg-clr);
    font-size: 1.2rem;
}
.custom-calendar .calendar-header button {
    background: none;
    border: none;
    color: var(--bg-clr);
    cursor: pointer;
}

.custom-select-dropdown {
    position: absolute;
    top: -0.1rem;
    left: 0;
    width: 100%;
    background-color: var(--text-acc);
    color: var(--bg-clr);
    display: none;
    z-index: 10;
    border-top: 0.1rem solid var(--bg-clr);
}

.custom-select-dropdown .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--bg-clr);
    margin-bottom: 0.5rem;
}

.custom-select-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.custom-select-dropdown ul li {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    cursor: pointer;
}
.custom-select-dropdown ul li:hover {
    background-color: var(--bg-clr);
    color: var(--dark-orange);
}

.custom-calendar {
    position: absolute;
    top: -0.1rem;
    left: 0;
    width: 100%;
    background-color: var(--text-acc);
    color: var(--bg-clr);
    display: none;
    z-index: 10;
    border-top: 0.1rem solid var(--bg-clr);
    padding: 0.5rem;
}

.custom-calendar .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--bg-clr);
    margin-bottom: 0.5rem;
}

.custom-calendar .calendar-header button {
    background: none;
    border: none;
    color: var(--bg-clr);
    cursor: pointer;
    font-size: 1.4rem;
}

.custom-calendar .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
}
.custom-calendar .calendar-grid div {
    padding: 0.5rem 0;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
}

.custom-calendar .calendar-grid div.active {
    background-color: var(--light-orange);
    color: var(--text-clr);
}

.custom-calendar .calendar-grid div.inactive {
    background-color: var(--dark-orange);
    color: var(--bg-clr);
}

.custom-calendar .calendar-grid div:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--bg-clr);
    margin: 15% auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 40px;
    width: 30rem;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    top: 2rem;
    right: 15px;
    color: var(--text-clr);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-success {
    font-family: "Kyiv*Type Serif", "Transforma Mix_Trial", monospace;
    font-size: 1.5rem;
    color: var(--text-clr);
}

.modal-error-title {
    font-family: "Kyiv*Type Serif", "Transforma Mix_Trial", monospace;
    font-size: 1.5rem;
    color: var(--text-clr);
}

.modal-error-text {
    font-family: "Century Gothic", Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--text-clr);
    margin-top: 0.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15rem;
    gap: 0.5rem;
}

.as {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color:var(--dark-orange);
}

.rent-btn {
    padding-top: 1.4rem;
    font-family: "Kyiv*Type Serif", "Transforma Mix_Trial", monospace; 
    color: var(--bg-clr);
    font-weight: 350;
    font-size: 1.4rem;
}